[submodule "src/common/font/image-captcha-font"]
	path = src/common/font/image-captcha-font
	url = https://github.com/kuankuan2007/image-captcha-font.git
[submodule "modifiedPackage/particles.js"]
	path = modifiedPackage/particles.js
	url = https://github.com/kuankuan2007/particles.js.git
	branch = kuankuan2007
[submodule "modifiedPackage/node-process"]
	path = modifiedPackage/node-process
	url = https://github.com/kuankuan2007/node-process.git
	branch = kuankuan2007