@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-35-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-45-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-55-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-65-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-75-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-85-Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-95-ExtraBold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-105-Heavy.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'ALIBABA PUHUITI 3.0';
  src: url('../font/ALiBaBa-PuHui-3/AlibabaPuHuiTi-3-115-Black.ttf');
  font-weight: 900;
}
